### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [52]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [53]:
total_players = len(purchase_data["SN"].value_counts())
player_count = pd.DataFrame({"Total Players":[total_players]})
player_count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [54]:
number_of_unique_items = len((purchase_data["Item ID"]).unique())
average_price = (purchase_data["Price"]).mean()

summary_df = pd.DataFrame({"Number of Unique Items":[number_of_unique_items], "Average Price":[average_price]})

summary_df

   Number of Unique Items  Average Price
0                     183       3.050987

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [55]:
gender_demo = purchase_data.groupby("Gender")

total_count_gender = gender_demo.nunique()["SN"]

percentage_of_players = total_count_gender / total_players * 100

gender_demo = pd.DataFrame({"Percentage of Players": percentage_of_players, "Total Count": total_count_gender})

gender_demo

                       Percentage of Players  Total Count
Gender
Female                             14.062500           81
Male                               84.027778          484
Other / Non-Disclosed               1.909722           11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [63]:
purchase_count = purchase_data.groupby(["Gender"]).sum()["Price"]
gender_average = purchase_data.groupby(["Gender"]).mean()["Price"]
gender_count = purchase_data.groupby(["Gender"]).count()["Price"]

gender_purchasing = pd.DataFrame({"Total Purchase Count": purchase_count, "Average Purchase Price": gender_average, "Average Purchase Price": gender_count})

gender_purchasing

                       Total Purchase Count  Average Purchase Price
Gender
Female                               361.94                     113
Male                                1967.64                     652
Other / Non-Disclosed                 50.19                      15

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [73]:
age_bins = [0, 19.90, 29.90, 39.90, 99]
group_names = ["<20", "20-29", "30-39", "40+"]

purchase_data["Age Group"] = pd.cut(purchase_data["Age"],age_bins, labels=group_names)
purchase_data

age_grouped = purchase_data.groupby("Age Group")

total_count_age = age_grouped["SN"].nunique()

percentage_by_age = (total_count_age/total_players) * 100

age_demographics = pd.DataFrame({"Percentage of Players": percentage_by_age, "Total Count": total_count_age})

age_demographics

           Percentage of Players  Total Count
Age Group
<20                    25.347222          146
20-29                  58.159722          335
30-39                  14.409722           83
40+                     2.083333           12

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [74]:
purchase_count_age = age_grouped["Purchase ID"].count()

average_purchase_price_age = age_grouped["Price"].mean()

total_purchase_value = age_grouped["Price"].sum()

avg_purchase_per_person_age = total_purchase_value/total_count_age

age_demographics = pd.DataFrame({"Purchase Count": purchase_count_age, "Average Purchase Price": average_purchase_price_age, "Total Purchase Value":total_purchase_value, "Average Purchase Total per Person": avg_purchase_per_person_age})

age_demographics

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total per Person
Age Group,,,,
<20,187,3.063102,572.80,3.923288
20-29,466,3.019442,1407.06,4.200179
30-39,114,3.172544,361.67,4.357470
40+,13,2.941538,38.24,3.186667

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [85]:
spender_demo = purchase_data.groupby("SN")

purchase_count_spender = spender_demo["Purchase ID"].count()

average_purchase_price_spender = spender_demo["Price"].mean()
 
purchase_total_spender = spender_demo["Price"].sum()

top_spenders = pd.DataFrame({"Purchase Count": purchase_count_spender,
                             "Average Purchase Price": average_purchase_price_spender,
                             "Total Purchase Value":purchase_total_spender})

sort_spenders = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()

sort_spenders

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [88]:
items = purchase_data[["Item ID", "Item Name", "Price"]]
 
item_stats = items.groupby(["Item ID","Item Name"])
 
purchase_count_item = item_stats["Price"].count()

purchase_value = (item_stats["Price"].sum()) 

item_price = purchase_value/purchase_count_item

most_popular_items = pd.DataFrame({"Purchase Count": purchase_count_item, "Item Price": item_price, "Total Purchase Value":purchase_value})

popular_sort = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()

popular_sort

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
82,Nirvana,9,4.90,44.10
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [91]:
popular_sort = most_popular_items.sort_values(["Total Purchase Value"], ascending=False).head()

popular_sort

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
92,Final Critic,8,4.88,39.04
103,Singed Scalpel,8,4.35,34.80